@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: $darkGrayishBlue;
}

p {
  color: $grayishBlue;
  line-height: 1.5;
}

.section__header {
  width: 85%;
  margin: auto;
  text-align: center;

  @include breakpoint-up(tab) {
    width: 42rem;
  }

  h2 {
    margin: 1rem 0;
    font-size: 1.7rem;

    @include breakpoint-up(large) {
      font-size: 2.125rem;
    }
  }

  p {
    font-size: 1rem;

    @include breakpoint-up(large) {
      font-size: 1.1rem;
    }
  }
}

.download__buttons {
  width: 85%;

  @include breakpoint-up(tab) {
    width: auto;
  }
}

.btn__container {
  padding: 3rem 0;

  .btn {
    border: 0;
    outline: 0;
    width: 100%;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.125rem;
    font-family: inherit;
    border-radius: 1.875rem;
    padding: 0.8125rem 2.1875rem;
    transition: all 0.3s ease-in-out;

    @include breakpoint-up(medium) {
      width: auto;
    }

    &:hover {
      opacity: 0.7;
    }

    &-ios {
      margin-right: 0;
      margin-bottom: 1.75rem;
      background: $strongCyan;
      border-bottom: 3px solid #209f88;
      box-shadow: 0px 4px 15px #26baa47a;

      @include breakpoint-up(medium) {
        margin-right: 0.75rem;
        margin-bottom: 0;
      }
    }

    &-mac {
      background: $lightBlue;
      border-bottom: 3px solid #5161d8;
      box-shadow: 0px 4px 15px #6173ff7a;
    }
  }
}

.grid {
  display: grid;

  &-pi-c {
    place-items: center;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}
