.header {
  min-height: 100vh;
  background: url("../images/bg-header-mobile.png") no-repeat top/contain;

  @include breakpoint-up(medium) {
    background: url("../images/bg-header-desktop.png") no-repeat top/contain;
  }

  &__content {
    width: 85%;
    text-align: center;
    padding: 8rem 0 3rem;

    @include breakpoint-up(tab) {
      width: 41.25rem;
    }

    @include breakpoint-up(large) {
      padding: 4rem 0 3rem;
    }
  }

  &__logo {
    img {
      width: 8.45rem;

      @include breakpoint-up(medium) {
        width: 7.5rem;
      }
    }
  }

  &__text {
    h1 {
      font-size: 2rem;
      margin: 4rem 0 1rem;

      @include breakpoint-up(large) {
        font-size: 2.6rem;
        margin: 2.5rem 0 1rem;
      }
    }

    p {
      font-size: 1.1rem;

      @include breakpoint-up(large) {
        font-size: 1.1875rem;
      }
    }
  }
}
