.workflow {
  width: 85%;
  margin: auto;

  @include breakpoint-up(medium) {
    width: 80%;
  }

  &__tools {
    text-align: center;
    margin: 4rem auto;
    row-gap: 3.5rem;
    column-gap: 1rem;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      height: 2.15rem;
    }

    h3 {
      margin: 2rem 0 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.75;
    }
  }

  &__companies {
    flex-wrap: wrap;
    margin: 7.5rem auto;

    div {
      width: 100%;
      margin-bottom: 3.5rem;

      @include breakpoint-up(medium) {
        width: 33.33%;
      }

      @include breakpoint-up(large) {
        width: 20%;
      }
    }

    img {
      width: 7.5rem;
    }
  }
}
